<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <style>
    body{
      text-align: center;
    }
    form{
      text-align: center;
    }
  </style>
</head>
<body>
<h1>회원가입</h1>

<hr/>
<form action="/joinProc" method="post">
  <input type="text" name="e-mail" placeholder="e-mail"/>
  <br/>
  <input type="text" name="username" placeholder="username"/>
  <br/>
  <input type="password" name="password" placeholder="password"/>
  <br/>
  <button type="submit">회원가입</button>
</form>
</body>
</html>