<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <style>
        body{
            text-align: center;
        }
        form{
            text-align: center;
        }
    </style>
</head>
<body>
<h1>로그인 페이지</h1>

<hr/>
<form>
    <input type="text" name="username" placeholder="username"/>
    <br/>
    <input type="text" name="password" placeholder="password"/>
    <br/>
    <button>로그인</button>
    <br/>
    <a href="/join">아직 계정이 없으신가요?</a>
</form>
</body>
</html>